<!-- <html>
	<head>
		<title>Profile</title>
		<%include ./partials/head.ejs %>
	</head>
<body>
	<main class="main">
<<<<<<< HEAD:views/userProfile.ejs
		<h1>Profile</h1>
		<section>
			<h1>Requested Showings</h1>
	     
	             <a href="/home/<%=requested[i].id%>">
	             	<h3><%=requested[i].neighborhood%></h3>
	             	<h3><%=requested[i].address%></h3>
	             	<h3><%=requested[i].address2%></h3>
	             </a>
	      <% } %>
	    </section>
=======
		<h1>Our Agents</h1>


	<section>
      
      	<ul><li>
              <a href="/<%=agents[i].id%>" title=""><%=agents[i].fullname%></a>
                  <form action="/<%= user %>?_method=PUT" method="POST">
			      	<button>Select Agent</button>
			      </form>
      <% } -%>
      </li></ul>
    </section>

>>>>>>> 8b31c11b6967361390501c9933345baed2473213:views/ourAgents.ejs
	</main>
</body>
</html> -->
